---
import Comp from '@/components/comp';

import '../index.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <title>Astro</title>
  </head>
  <body class="flex min-h-svh items-center justify-center">
    <h1 class="text-3xl font-bold text-sky-800">Astro</h1>
    <p class="max-w-[200px] leading-4">Esto es un gran texto para probar</p>
    <Comp client:idle />
  </body>
</html>
